.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fbe161;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-container {
  display: flex;
  overflow-x: auto; /* Habilitar el scrolling horizontal */
  white-space: nowrap; /* Evitar el salto de línea de los elementos */
  padding: 10px; /* Espaciado interior para los elementos del menú */
  background-color: #FFA500;
  width: 105%;
}

.menu-item { /*header*/
  padding: 10px 20px; /* Espaciado interior para los elementos del menú */
  font-size: 18px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre los elementos */
  margin-right: 40px; /* Espacio entre elementos del menú */
  margin-left: 40px;
  color: white; /* Color de texto blanco */
}

.menu-item:last-child {
  margin-right: 0; /* Elimina el espacio después del último elemento del menú */
}

.container-padre {
  display: flex;
  flex-wrap: wrap; /* Para que los contenedores se envuelvan si no caben en una fila */
  justify-content: center; 
}

.contenedor-receta {
  flex: 0 0 calc(33.33% - 60px); /* Esto hace que cada contenedor ocupe el 33.33% del ancho del contenedor padre, con margen izquierdo y derecho de 30px */
  border: 0.5px solid #ddd;
  padding: 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px; /* Espacio entre contenedores */
  max-width: 300px; /* Ancho máximo del contenedor */
}
/*SEARCHBAR*/

body{
  background: white;
}
.height{
  height: 100vh;
}
.form{
  margin-bottom:10px;margin-top:0px;
  position: relative;
}
.form .fa-search{
  position: absolute;
  top:20px;
  left: 20px;
  color: #9ca3af;
}
.form span{
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #ffffff97;

}
.left-pan{
  padding-left: 0px;
}
.left-pan i{
 padding-left: 0px;
}
.form-input{
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}
.form-input:focus{
  box-shadow: none;
}

.list {
  background-color: #f7f7f7;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ffffff97;
}
.border-bottom{
  border-bottom: 2px solid #ffffff97;
}